DAPTIN_SCHEMA_FOLDER=/opt/canaster/schema
DAPTIN_LOCAL_STORAGE_PATH=/data/storage
DAPTIN_STORAGE=/data/storage
VITE_CANASTER_STORAGE_MODE=daptin
GCP_VM_NAME=canaster-daptin-vm
GCP_VM_ZONE=asia-south1-c
